<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-energized tabs-icon-top">
        <ion-tab title="memory" icon="ion-person" href="#/index/memory">
            <ion-nav-view name="memory"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mine Robotdeler" icon="ion-cube" href="#/index/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Kart" icon="ion-location" href="#/index/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Main" icon="ion-ionic" href="#/index/main">
            <ion-nav-view name="main"></ion-nav-view>
        </ion-tab>

         <ion-tab title="Periodic" icon="ion-ios-settings-strong" href="#/index/periodic">
            <ion-nav-view name="periodic"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Welcome" icon="ion-ios-body" href="#/index/welcomeScreen">
            <ion-nav-view name="welcomeScreen"></ion-nav-view>
        </ion-tab>

        <ion-tab title="ChooseLang" icon="ion-android-walk" href="#/index/chooseLanguage">
            <ion-nav-view name="chooseLanguage"></ion-nav-view>

        <ion-tab title="quiz" icon="ion-ios-settings-strong" href="#/index/quiz">
            <ion-nav-view name="quiz"></ion-nav-view>
        </ion-tab>



    </ion-tabs>
</ion-view>