<ion-view title="Vitensenteret">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row">
            <div class="list card col-100">
                <div class="item item-divider">Vitenløypa</div>
            </div>
        </div>

        <div class="row flex-wrap" >
            <div class="col-33 center-margin" ng-repeat="minigame in minigames">
                <div class="card small">
                    <div class="item minigames item-text-wrap part-box vertical-wrapper">
                        <a href class="sprite icon minigame-icon" ng-class="minigameClasses(minigame)" ng-click="minigameClick(minigame)"></a>
                        <i class="icon over-check" ng-class="minigame.collected ? 'ion-checkmark-round balanced' : 'ion-close-round'"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--<btn class="button button-balanced button-block">Generer din robot</btn>-->
    </ion-content>
</ion-view>