<ion-view title="RobOtto">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row">
            <div class="card col-100">
                <div class="item item-divider" translate>APP_NAME</div>
                <div class="ttem item-body" translate>OVERVIEW_MAINCARD_TEXT</div>
            </div>
        </div>

        <div class="row flex-wrap" >
            <div class="col-33 center-margin" ng-repeat="minigame in minigames">
                <div class="card small" ng-click="minigameStart(minigame)">
                    <div class="item minigames item-text-wrap part-box vertical-wrapper">
                        <a href class="sprite icon minigame-icon" ng-class="minigameClasses(minigame)"></a>
                        <i class="icon over-check" ng-class="minigame.collected ? 'ion-checkmark-round balanced' : 'hidden'"></i>
                    </div>
                    <div class="text-center minigame-name">
                        {{minigame.name}}
                    </div>
                </div>
            </div>
        </div>

        <!--<btn class="button button-balanced button-block">Generer din robot</btn>-->
    </ion-content>
</ion-view>