<ion-view title="Choose Language">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div id="language" class="centerdiv">
      <h1 class="texts">Velg språk</h1>
      <div id="norwegian">
        <h5 class="texts">Norsk</h5>
        <button class="button-icon">
          <img src="../../../img/flag_of_norway.png" height="150px" width="150px">
        </button>
      </div>

      <div id="english">
        <h5 class="texts">English</h5>
        <button class="button-icon">
          <img src="../../../img/flag_of_united_kingdom.png" height="150px" width="150px">
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>