<ion-view title="">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div id="language" class="centerdiv">
      <div>
        <h3 class="texts">Velg språk / Choose language</h3>
        <h4 class="texts">Norsk</h4>
        <button class="button-icon" ng-click="switchTo('no')">
          <img src="img/flag_of_norway.png" height="150px" width="150px">
        </button>
      </div>

      <div>
        <h4 class="texts">English</h4>
        <button class="button-icon"  ng-click="switchTo('en')">
          <img src="img/flag_of_united_kingdom.png" height="150px" width="150px">
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>