<ion-view title="Vitensenteret">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row">
            <div class="list card col-50">
                <div class="item item-divider">Din robot</div>
                <div class="item item-body item-robot">
                    <div class="row">
                        <div class="col-100 part-robot"><!-- head -->
                            <a class="sprite" ng-class="partClasses(parts['head'])"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100 part-robot">
                            <!-- body -->
                            <div ng-class="parts['arms'].collected? 'body-container' : ''">
                                <a class="sprite" ng-class="partClasses(parts['body'])"></a>
                            </div>
                            <!-- arms -->
                            <a class="sprite" ng-class="partClasses(parts['arms'])"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100 part-robot"><!-- legs -->
                            <a class="sprite" ng-class="partClasses(parts['legs'])"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 vertical-wrapper">
                <div class="vertical-align">
                    <h3 class="giant-text">
                        Du har samlet
                    </h3>
                    <h1 class="giant-text">
                        {{collectedPartsCount()}}/{{getLength(parts)}}
                    </h1>
                    <h2 class="giant-text">
                        deler
                    </h2>
                </div>
            </div>
        </div>

        <div class="row flex-wrap" >
            <div class="col-33 center-margin" ng-repeat="part in parts">
                <div class="card small">
                    <div class="item item-text-wrap part-box vertical-wrapper">
                        <a href class="sprite" ng-class="partClasses(part)" ng-click="partClick(part)"></a>
                        <i class="icon over-check" ng-click="partToggle(part)" ng-class="part.collected ? 'ion-checkmark-round balanced' : 'ion-close-round'"></i>
                    </div>    
                </div>
            </div>
        </div>

        <btn ng-disabled="collectedPartsCount() != parts.length" class="button button-balanced button-block">Generer din robot</btn>
        <btn class="button button-assertive button-block" ng-click="resetGame()">Slett din robot og start spillet på nytt</btn>
    </ion-content>
</ion-view>