<ion-view title="Vitensenteret">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row">
            <div class="list card col-50">
                <div class="item item-divider">Din robot</div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col-100 part-robot"><!-- head -->
                            <a class="sprite" ng-class="partClasses(parts[0])"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100 part-robot"><!-- body -->
                            <a class="sprite" ng-class="partClasses(parts[3])"></a>
                            <a class="sprite" ng-class="partClasses(parts[1])"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100 part-robot"><!-- legs -->
                            <a class="sprite" ng-class="partClasses(parts[2])"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 vertical-wrapper">
                <div class="vertical-align">
                    <h3 class="giant-text">
                        Du har samlet
                    </h3>
                    <h1 class="giant-text">
                        {{(parts | filter:{collected:true}).length}}/{{parts.length}}
                    </h1>
                    <h2 class="giant-text">
                        deler
                    </h2>
                </div>
            </div>
        </div>

        <div class="row flex-wrap" >
            <div class="col-33 center-margin" ng-repeat="part in parts">
                <div class="card small">
                    <div class="item item-text-wrap part-box vertical-wrapper">
                        <a href class="sprite" ng-class="partClasses(part)" ng-click="partClick(part)"></a>
                        <i class="icon over-check" ng-class="part.collected ? 'ion-checkmark-round balanced' : ''"></i>
                    </div>    
                </div>
            </div>
        </div>

        <btn ng-disabled="(parts | filter:{collected:true}).length != parts.length" class="button button-balanced button-block">Generer din robot</btn>
    </ion-content>
</ion-view>