<ion-view title="Memory" ng-init="onInitialize()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card small centerdiv" >
            <h5>Trykk på knappene i riktig rekkefølge</h5>
        </div>
        <div class="centerdiv" id="memorybuttons">
            <button class="button memory-button" id="memorypink" ng-click="startGame()">
            </button>

            <button class="button memory-button" id="memorygreen">
            </button>

            <button class="button memory-button" id="memoryorange">
            </button>

            <button class="button memory-button" id="memoryyellow">
            </button>
        </div>


    </ion-content>
</ion-view>