<ion-view title="Minnespillet">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card small centerdiv" >
            <h5>Trykk på knappene i samme rekkefølge som de blinker</h5>
        </div>
        <div class="centerdiv" id="memory-buttons">
            <button class="button memory-button" id="memorypink"></button>

            <button class="button memory-button" id="memorygreen">
            </button>

            <button class="button memory-button" id="memoryorange">
            </button>

            <button class="button memory-button" id="memoryyellow">
            </button>
            <div id="levelNumerator">
                {{levelNumerator}}
            </div>
            <div>
                <button class="button button-bar button-balanced" id="startButton" ng-click="startGame()">Start</button>
                <button class="button button-bar button-balanced" id="redoButton" ng-click="redoGame()">Prøv på nytt</button>
                <button class="button button-bar button-balanced" id="hintButton" ng-click="getHint()">Hint</button>
            </div>
        </div>

    </ion-content>
</ion-view>