<ion-view title="Minnespillet" ng-init="onInitialize()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card small centerdiv" >
            <h5>Trykk på knappene i riktig rekkefølge</h5>
        </div>
        <div class="centerdiv" id="memorybuttons">
            <button class="button memory-button" id="memorypink">
            </button>

            <button class="button memory-button" id="memorygreen">
            </button>

            <button class="button memory-button" id="memoryorange">
            </button>

            <button class="button memory-button" id="memoryyellow">
            </button>
        </div>
        <div>
            <button class="button button-bar" id="startButton" ng-click="startGame()">Start</button>
            <button class="button button-bar" id="redoButton" ng-click="redoGame()">Prøv på nytt</button>
            <button class="button" id="hintButton" ng-click="getHint()">Hint</button>
        </div>


    </ion-content>
</ion-view>