<ion-view title="Lyd">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <p class="texts text-align">Plasser rørene så de lager samme lyd som spilles av</p>

    <audio id="song">
    	<source src="../../sound/teleport.wav" type="audio/wav">
    		Your browser does not support
    </audio>

   <button id="soundPlayBtn" class="button ion-play button-block button-balanced" ng-click="playImitate()"> </button>

   <div id = "soundView">

   	<img src="../../img/triangle.svg" class = "soundPhoto">

   	<input id="triangleOne" type="number" max="5" value="1"class="numberPicker"/>

   	<input id="triangleTwo" type="number" max="5" value="2"class="numberPicker"/>

   	<input id="triangleThree" type="number" max="5" value="3"class="numberPicker"/>


   </div>

   
   <button id="soundTestCorrect" class="button button-block button-balanced" ng-click="playImitate()"> Sjekk om det er riktig! </button>


    </ion-content>
</ion-view>