<ion-view title="Lyd">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <p class="texts text-align">Plasser rørene så de lager samme lyd som spilles av</p>

    <audio id="song" controls>
    	<source src="../../sound/Ready-Sangen.mp3" type="audio/mp3">
    		Your browser does not support
    </audio>

   <button  class="small_button button button-balanced" ng-click="playImitate()"> play </button>

   <button  class="small_button button button-balanced" ng-click="pauseImitate()"> pause </button>

   <p id="testing">mehjas</p>


    </ion-content>
</ion-view>