<ion-view title="quiz">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div ng-show="finished" class="card">Gratulerer, du er ferdig med quizen, og fikk en robotdel!</div>
    <h4 ng-show="qCount" class="textAllignCenter" style="color:white">Spørsmål {{ qNum + 1 }} av {{ totalQ }}</h4>

        <div ng-show="qCard" class="card" id="qCard">
            <div class="item item-text-wrap" id="question">
                {{ask.question}}
            </div>
        </div>

        <div ng-show="qAlt" class="list">
          
          <button class="button button-block button-balanced"
               ng-click="checkAnswer(item)" 
               ng-repeat="item in ask.alternatives" 
               icon="none"> 
               {{ item }} 
          </button>
              
    </ion-content>
    
  </body>
</html>