<ion-view title="Quiz">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <h4 ng-show="qCount" class="textAllignCenter" style="color:white">{{trans.QUIZ_QUESTION}} {{ qNum + 1 }} {{trans.QUIZ_OF}} {{ totalQ }}</h4>

        <div ng-show="qCard" class="card" id="qCard">
            <div class="item item-text-wrap" id="question">
                {{ask.question}}
            </div>
        </div>

        <div ng-show="qAlt" class="list">
          
          <button class="button button-block button-balanced"
               ng-click="checkAnswer(item)" 
               ng-repeat="item in ask.alternatives" 
               icon="none"> 
               {{ item }} 
          </button>
              
    </ion-content>
    
  </body>
</html>