<ion-view title="Korteste vei" data-ng-init="createSortable()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">


    <div class="card small centerdiv" >
        <h5>Finn korteste vei fra Oslo til Trondheim. Dra byene til riktig plassering.</h5>
    </div>

        <div id="shortestListDiv" class = "text-center">

            <ul id ="shortestListContainer">
                <li class="safeCity">Første byen</li>
                <ul id = "shortestList">
                <li ng-repeat="city in cities">{{city.name}}</li>
                </ul>
                <li class="safeCity">Siste byen</li>
            </ul>

        </div>

    </ion-content>
</ion-view>