<ion-view title="Periodic" ng-init="onInitialize()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="card picture-container">
            <img id="periodPic" ng-src="{{nextElement.url}}" class="picture">
        </div>

        <div class="row flexyWrap  btnArea">
            <!--class = flex-wrap-->
            <div class="col-33" ng-repeat="part in buttons">
                <div class="text-center btncont" >
                    <button  class="small_button button button-balanced" ng-click="submitAnswer(part)">
                        {{part.abbr}}
                    </button> 
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>