<ion-view title="Periodic">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="card picture-container">
                <img id="periodPic" src="../../img/battery.jpg" class="picture">
        </div>


        <div class="row flex-wrap btnArea">
            <div class="col-33" ng-repeat="part in buttons">
                <div class="btnContainer text-center">
                    <button class="button button-balanced small_button" ng-click="submitAnswer(part)">
                        {{part.name}}
                    </button> 
                </div>   
            </div>
        </div>

    </ion-content>
</ion-view>