<ion-view title="Periodic" ng-init="onInitialize()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="card picture-container">
                <img id="periodPic" class="picture">
        </div>


        <div class="row flex-wrap btnArea">
            <div class="col-33" ng-repeat="part in buttons">
                <div class="btnContainer text-center">
                    <!-- button button-balanced -->
                    <button  class="small_button  {{part.correct}}" ng-click="submitAnswer(part)">
                        {{part.name}}
                    </button> 
                </div>   
            </div>
        </div>

    </ion-content>
</ion-view>