<ion-view title="reward" >
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                {{trans.REWARD_FINISHED1}} {{gameFinished}} {{trans.REWARD_FINISHED2}} {{robotPart}} {{trans.REWARD_FINISHED3}}
            </div>
        </div>

        <div class="{{robotPartImage}}" id="robotPartReward">
        </div>
        <div>
            <button class="button button-bar button-balanced" id="continueFromReward" ng-click="goToMain()">{{trans.REWARD_CONTINUE}}</button>
        </div>

    </ion-content>
</ion-view>