<ion-view title="reward" >
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card">
            <h4>Gratulerer!</h4>
        </div>
        <div class="card">
            <div class="revdivs">Du fullførte nettopp &nbsp;</div>
            <div class="revdivs" id="gameFinished"></div>
            <div class="revdivs">og har dermed vunnet &nbsp;</div>
            <div class="revdivs" id="robotPart"></div>
            <div class="revdivs"> til din robot.</div>
        </div>
        <div class="card" id="robotPartImg">
            <img id="robotPartPicture" src="../../../img/battery.jpg">
        </div>
        <div class="card">
            <button id="return-to-robot" ng-click="backToRobot()">
                hello
            </button>
        </div>
    </ion-content>
</ion-view>