<ion-view title="reward" >
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                Du fullførte nettopp {{gameFinished}} og har dermed vunnet {{robotPart}} til din robot! {{test}}
            </div>
        </div>

        <div class="{{robotPartImage}}" id="robotPartReward">
        </div>
        <div>
            <button class="button button-bar button-balanced" id="continueFromReward" ng-click="goToMain()">Fortsett</button>
        </div>

    </ion-content>
</ion-view>