<ion-view title="Fargelås">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">{{trans.COLORS_TITLE}}</div>
            <div class="item item-body">
                {{trans.COLORS_DESC}}
            </div>
        </div>
        <div class="list card lock-card">
            <div class="item item-body">
                <div style="background-color: {{printColor(desired())}};" class="lock-color"></div>
                <div class="mini-locks">
                    <span class="lock-color" ng-repeat="color in displayLocks" style="background-color: {{printColor(color)}};"></span>
                </div>
                <form class="list lock-sliders">
                    <ion-item class="range range-balanced">
                        <span class="mini-lock lock-color balanced-bg"></span>
                        <input ng-model="slider.green" type="range" value="50" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">
                        <span class="mini-lock lock-color positive-bg"></span>
                        <input ng-model="slider.blue" type="range" value="50" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-assertive">
                        <span class="mini-lock lock-color assertive-bg"></span>
                        <input ng-model="slider.red" type="range" value="50" min="0" max="100">
                    </ion-item>
                </form>
            </div>
        </div>


        <btn ng-click="nextLock()" ng-disabled="!checkColors(slider.red, slider.green, slider.blue)" class="button button-balanced button-block">{{trans.COLORS_UNLOCK}}</btn>
    </ion-content>
</ion-view>