@font-face {
    font-family: Robotic;
    src: url(../fonts/sf-transrobotics/TrueType/SFTransRobotics.ttf);
}
body{
    font-family: Robotic;
}


.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrap .card{
    margin: 10px;
    margin-bottom: 0px;
}

.text-center{
	text-align: center;
}

img{
	display: block;
	margin:auto;
}

.picture{
	height: 100%;
	width: auto;
}

.picture-container{
	height:30%;
}

.btnArea{
	height:60%;
	margin-top:0px;
}
.small_button{
	position: relative;
	height: 100px !important;
	width: 100px !important;
	margin:auto !important;
}








/* Welcome Screen - Start */

.texts{ /*Also used by Choose Language*/
    color: white;
}

#centerdiv{ /*Also used by Choose Language*/
    text-align: center;
    margin: auto;
}

/* Welcome Screen - End */

/* Choose Language - Start */

#language{
    color: #ffffff;
}

#norwegian{
    float: left;
}
#english{
    float: right;
}

/* Choose Language - End */

.texts{
    color: white;
}

#centerdiv{
    text-align: center;
    margin: auto;
}

#qCard{
	text-align: center;


}