@font-face {
    font-family: Robotic;
    src: url(../fonts/sf-transrobotics/TrueType/SFTransRobotics.ttf);
}
body{
    font-family: Robotic;
}





#norwegian{
    float: left;
}
#english{
    float: right;
}
#language{
    color: #ffffff;

}

.texts{
    color: white;
}

#centerdiv{
    text-align: center;
    margin: auto;
}